:root{
    --primary-color: rgb(180, 20, 132);
    --secondary-color:rgb(60, 181, 202);
    --navbar-color:rgb(236, 25, 124);
    --background-color:#1B1B32;
    --text-color: aliceblue;
    --background-color2:#121220;
}

*,::before,::after{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body :not(.fa){
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.15em;
}
.navbar{
    height:10%;
    position: sticky;
    top:0;
    background: var(--navbar-color);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    z-index: 3;

}

.navlink{
    text-decoration: none;
    padding: 0.7em;
    width:7%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color:var(--text-color);
}

.navlink:hover{
    background-color: var(--text-color);
    color:var(--background-color);
}

.intro{
    margin-top: -2.5em;
    height:100vh;
    color:var(--text-color);
    display: grid;
    align-content: center;
    justify-content: center;
    background: linear-gradient(
        180deg,
        var(--primary-color),
        var(--secondary-color)
    );
    text-align: center;
}

.folio{
    height:100vh;
    width: 100%;
    color:var(--text-color);
    background-color: var(--background-color);
    overflow:hidden;
    align-items: center;
    justify-content: center;
    display: grid;
}
.title{
    text-align: center;
    padding:2em;
    font-weight: 200;
    
}

#more{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    margin:0% 47% 0% 47%;
    background: none;
    color: var(--text-color);
    padding:1em;
    transition: 0.25s;

}

#more:hover{
    color: var(--background-color);
    background:var(--text-color);
    cursor: pointer;
}


.magazine,.magazine2,.more{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: space-around;
    align-self: flex-start;
}

.magazine2{
    display:none;
}


.mag-item{
    
    text-decoration: none;
    border: solid 3px var(--background-color2);
    margin: 1em;
    background-color: var(--background-color2);
    z-index: 0;
    transition: 0.3s;
}

.mag-item:hover{
    scale:105%;
}

.mag-img{
    width: 35em;
    height:20em;
    margin-left:2px;
}

#canoe>img{
    
    width: 37em;
    height:22em;
}


.img-caption{
    width: 23.5em;
    overflow: auto;
    font-size: 1.5em;
    background-color: var(--background-color2);
    text-align: center;
    color: var(--text-color);
}

.contact{
    height:95vh;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;

}


i{
    color: var(--background-color);
    padding: 5%;
    transition: 0.3s;
}

i:hover{
    color: var(--secondary-color);
}

.footer{
    font-size: large;
    background-color: var(--background-color);
    height:5vh;
    color:var(--text-color);
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}


@media screen{


    .navbar{
        height:5%;
        position: fixed;
        top:0;
    }
    .navlink{
        width: 100%;
    }
    .intro{
        margin-top: 0;
    }
    .folio{
        height: auto;
        width: 100%;
        padding-bottom: 1em;;
    }
    .title{
        scale:90%;
    }
    .mag-item{
        scale: 65%;
    }
    .mag-item:hover{
        scale:69%;
    }
    #more{
        margin: 0% 40% 0% 40%;
    }
}


@media screen and (max-height:600px){
    .navbar{
        height:8%;
    }
}
@media screen and (max-height:300px){
    .navbar{
        height:15%;
    }
}